/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2 {
  font-size: 1rem;
  font-weight: normal;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
input[type='number'] {
  border: none;
  outline: none;
}

/* contents */
body {
  height: 100vh;
  padding: 0 1.5rem;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: url('https://static.vecteezy.com/system/resources/previews/007/073/400/large_2x/binary-numbers-on-computer-screen-matrix-background-photo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mode {
  padding: 2.5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
}
.mode.hide {
  display: none;
}
.mode-title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.mode button {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #000;
  border-radius: 5px;
  transition: all 100ms ease-in;
}
.mode button:hover {
  background-color: #fff;
  color: #000;
}

.game {
  padding: 1.5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.game.hide {
  display: none;
}
.answer {
  text-align: center;
  color: tomato;
}
.reset-btn {
  padding: 10px 20px;
  background-color: #3cd833;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  transition: all 100ms ease-in;
}
.reset-btn:hover {
  color: #000;
}
.game-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.game-title {
  text-align: center;
  font-size: 6vw;
  font-weight: bold;
  text-transform: uppercase;
}
.status {
  color: tomato;
}
.count em {
  font-weight: bold;
}
.input-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.input-area input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
}
.input-area button {
  width: 100%;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  transition: all 100ms ease-in;
}
.input-area button:hover {
  opacity: 0.8;
}
.input-area button:disabled {
  opacity: 0.5;
}

@media (min-width: 500px) {
  .mode {
    width: 450px;
  }
  .game {
    width: 450px;
  }
  .game-title {
    font-size: 2rem;
  }
  .input-area {
    flex-direction: row;
  }
  .input-area button {
    width: auto;
  }
}
